*.box
*.tfplan
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform
.terraform.lock.hcl

# --- # --- # --- # --- # --- 
# --- # --- # --- # --- # --- 
# secrets in local files
# --- # --- # --- # --- # --- 
# --- # --- # --- # --- # --- 

*.secret
.*.secret
./*.secret
./.*.secret
*.secret.json